@use '../../styles/variables' as *;

.navbarContainer {
    height: 3.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $beige;
    color: $noir;

    .navbarLinks {
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        width: 15em;

        a {
            color: $noir;
            font-size: 0.9em;
            width: auto;
            border: solid, 1px, $noir;
            border-radius: 50px;
            padding: 5px 15px 5px 15px;

            &:hover {
                color: $beige;
                background-color: $vert;
                border-color: $vert;
            }
        }
    }

    .navbarIcons {
        display: flex;
        gap: 1.5em;
        justify-content: flex-end;
        width: 15em;
        /* Alignement des icônes à droite */
    }
}